@model IEnumerable<ToDo_App.Models.ToDoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    @*<td>
                            @Html.ActionLink("Edit", "Edit", new {  id=item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new {  id=item.Id })
                        </td>*@
                </tr>
            }
        }
        else
        {
            <tr>
                <td>
                    <span>No Data found.</span>
                </td>
            </tr>
        }
    </tbody>
</table>
